.carousel-item img{
  height: 800px;
  width:600px;
}
.carousel{
  height: 800px;
  width:600px;
}
body{
  background:linear-gradient(to bottom,black 25%,dimgray 75%);
}
p,h1,h2,h3,h4,h5,h6{
  color: white;
}
